:root {
  --color-primary-dark: #31261A;
  --color-primary-light: #faf4ea;
  --color-secondary-light: #a18268;
  --color-brand-light: #819B57;
  --color-brand-dark: #465929;
  --color-brand-normal: #cfcfbc;
}